
.commentListContainer{
    height: 100%
}
.commentList{
    height: 100%;
    max-height: 30vh;
    padding-right:5px;
}
.commentListActionsContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    .action{
        display: flex;
        white-space: nowrap;
    }
    .action:hover{
        cursor: pointer;
    }
}
